@model VoziMe.Models.Voznje

@{
    ViewData["Title"] = "Delete";
}

<h1>Obriši</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Vrijeme vožnje
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijeme)
        </dd>
        <dt class = "col-sm-2">
            Ocjena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ocjena)
        </dd>
        <dt class = "col-sm-2">
            Cijena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijena)
        </dd>
        <dt class = "col-sm-2">
            Adresa polazišta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresaPolazista)
        </dd>
        <dt class = "col-sm-2">
            Adresa odredišta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresaDolazista)
        </dd>
        <dt class = "col-sm-2">
            Firma
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firma.id)
        </dd class>
        <dt class = "col-sm-2">
            Vozilo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vozilo.id)
        </dd class>
        <dt class = "col-sm-2">
            Klijent
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klijent.id)
        </dd class>
        <dt class = "col-sm-2">
            Vozač
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vozac.id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
