@model IEnumerable<VoziMe.Models.Voznje>

@{
    ViewData["Title"] = "Historija vožnji";
}

<h1>Historija vožnji</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Dodaj vožnju</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Vrijeme
            </th>
            <th>
                Ocjena
            </th>
            <th>
                Cijena
            </th>
            <th>
                Adresa polazišta
            </th>
            <th>
                Adresa odredišta
            </th>
            <th>
                Klijent
            </th>
            <th>
                Vozač
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresaPolazista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresaDolazista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klijent.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vozac.ime)
            </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.id">Uredi</a>
                        <nobr>|</nobr>
                        <a asp-action="Details" asp-route-id="@item.id">Detalji</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.id">Obriši</a>
                        <nobr>|</nobr>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
