@model IEnumerable<VoziMe.Models.Vozac>

@{
    ViewData["Title"] = "Vozači";
}

<h1>Vozači</h1>

<p>
    <a asp-action="Create">Dodaj vozača</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Korisničko ime
            </th>
            <th>
                Lozinka
            </th>
            <th>
                Mail adresa
            </th>
            <th>
                Spol
            </th>
            <th>
                Datum rodjenja
            </th>
            <th>
                Adresa
            </th>
            <th>
                Broj telefona
            </th>
            <th>
                Broj vozačke dozvole
            </th>
            <th>
                Ocjena
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lozinka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mailAdresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojVozackeDozvole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocjena)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
