@model IEnumerable<VoziMe.Models.Vozac>

@{
    ViewData["Title"] = "Index";
}

<h1>Vozači</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brojVozackeDozvole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.xkord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ykord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vozilo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.korisnickoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lozinka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mailAdresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojTelefona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brojVozackeDozvole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.xkord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ykord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma.adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vozilo.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lozinka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mailAdresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojTelefona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
