@model VoziMe.Models.Vozilo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vozilo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proizvodjac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proizvodjac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.godinaProizvodnje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.godinaProizvodnje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registarskaOznaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registarskaOznaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojSjedista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojSjedista)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
